%h3
	Dashboard
%br
#options-list.row
	%a.settings-icon.col.s6.m3.offset-s3{ href: people_path }
		%i.large.material-icons
			group
		%span
			Contacts
	%a.settings-icon.col.s6.m3{ href: new_person_path }
		%i.large.material-icons
			assignment
		%span
			Add New Contact