@import "import_materialize"
body
  display: flex
  min-height: 100vh
  flex-direction: column

main
  flex: 1 0 auto
  #page-content
    padding: 15px

h1, h2, h3, h4
  font-family: "Roboto-Light"

#options-list
  .settings-icon
    text-align: center
    i
      display: block
    &:hover
      background: lightblue
      border-radius: 3px